@use 'global' as *;

.layout-breadcrumb{
    margin-top: rem(8);
}

.layout-breadcrumb.layout-breadcrumb--white{
    margin-top: 0;
}

.error404 .breadcrumb-trail a {
    color: white; /* 好みの色に変更してください */
}
