@use 'global' as *;

.layout-contact{
    margin-top: rem(80);

    @include mq('md'){
        margin-top: rem(140);
    }
}

.layout-contact.layout-contact--lower{
    margin-top: rem(106);

    @include mq('md'){
        margin-top: rem(140);
    }
}

.layout-contact.layout-contact--sitemap{
    margin-top: rem(92);

    @include mq('md'){
        margin-top: rem(130);
    }
}