@use 'global' as *;

.archive__title{
    text-align: center;
}

.archive__date-wrap{
    margin-top: rem(24);
}

.archive__year,
.archive__month a{
    color: $accent-color;
    font-size: rem(24);
    font-weight: $normal;
    padding-left: rem(31);
    position: relative;
    cursor: pointer;
}

.archive__year::before{
    content: "";
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: 55%;
    transform: translateY(-50%) rotate(30deg);
    left: 0;
    background: url(../images/common/polygon.svg)no-repeat center center / contain;
}

.archive__month-wrap{
    text-indent: rem(29);
    display: none;
}

.archive__month a{
    line-height: 1.65;
}

.archive__month a::before{
    content: "";
    width: rem(24);
    height: rem(24);
    position: absolute;
    top: rem(5);
    transform: rotate(-90deg);
    left: 0;
    background: url(../images/common/polygon.svg)no-repeat center center / contain;
}

.archive__year.is-open::before {
    transform: translateY(-50%) rotate(0deg);
  }
