@use 'global' as *;

.article-main-title{
    color: $font-color;
    font-size: rem(24);
    font-weight: 500;
    padding-bottom: rem(1);
    border-bottom: 1px solid $accent-color;

    @include mq('md'){
        font-size: rem(32);
    }
}