@use 'global' as *;

.article__date{
    color: $font-color;
    font-family: $third-font-family;
    font-size: rem(14);
    line-height: 18px;
    vertical-align: top;
}

.article__title{
    margin-top: rem(2);
}

.article__content{

    //本文
    p{
        margin-top: rem(24);
        color: $font-color;
        font-size: rem(16);
        line-height: 24px;

        @include mq('md'){
            margin-top: rem(38);
        }
    }

    //画像
    figure{
        margin-top: rem(24);
        aspect-ratio: 345 / 231;
    
        @include mq('md'){
            margin-top: rem(40);
        }
    }

    figure img{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    //リスト
    ul{
        margin-top: rem(24);

        @include mq('md'){
            margin-top: rem(40);
        }
    }

    li{
        color: $font-color;
        font-size: 16px;
        line-height: 1.7;
        position: relative;
        padding-left: rem(28);

        @include mq('md'){
            padding-left: 2em;
        }
    }

    li::before{
        content: "";
        width: rem(18);
        height: rem(18);
        position: absolute;
        top: rem(3);
        left: rem(1);
        background: url(../images/common/icon-starfish_green.svg)no-repeat center center / contain;
    }
}

.article__link{
    margin-top: rem(40);

    @include mq('md'){
        margin-top: rem(80);
    }
}
