@use 'global' as *;

.article-link__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(82);
}

.article-link__prev a,
.article-link__next a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: rem(38);
    width: rem(38);
    background-color: $white;
    color: $accent-color;
    font-family: $fourth-font-family;
    font-weight: $bold;
    font-size: rem(16);
    transition: 0.3s ease;
    border: 1px solid $accent-color;
}

.article-link__prev a::before{
    content: "";
    width: rem(10);
    height: rem(10);
    border-left: 1px solid $accent-color;
    border-bottom: 1px solid $accent-color;
    transform: translateX(2px) rotate(45deg);
}

.article-link__next a::before{
    content: "";
    width: rem(10);
    height: rem(10);
    border-right: 1px solid $accent-color;
    border-bottom: 1px solid $accent-color;
    transform: translateX(-2px) rotate(-45deg);
}

//hover
.article-link__prev a:hover,
.article-link__next a:hover{
    background: $accent-color;
    color: $white;
    border-color: $accent-color;
}


.article-link__prev a:hover:before{
    border-left-color: #fff;
    border-bottom-color: #fff;
}

.article-link__next a:hover:before{
    border-right-color: #fff;
    border-bottom-color: #fff;
}