@use 'global' as *;

.campaign{
    overflow: hidden;
    padding-bottom: rem(4);
}

.campaign__inner{
    max-width: calc(rem(600) + calc(rem(15) * 2));
    width: 100%;
    margin: auto;
    position: relative;

    @include mq('md'){
        width: 100%;
    }
}

.campaign__swiper{
    margin-top: rem(25);
    margin-right: calc(50% - 50vw);
    padding: rem(3);
    padding-bottom: rem(5);
    display: flex;

    @include mq('md'){
        margin-top: rem(40);
    }
}


.campaign__cards{
    display: flex;
    flex-direction: row;
    height: auto;
    flex-grow: 1;

}

.campaign__card{
    margin-right: rem(24);
    max-width: rem(280);
    width: 100%;

    @include mq('md'){
        margin-right: rem(39);
        max-width: rem(333);

    }
}

.campaign__arrow-wrap{
    position: absolute;
    top: 0;
    right: rem(15);
    align-items: center;
    display: flex;
    gap: rem(101);
    width: rem(261);
}

.campaign-next,
.campaign-prev{
    display: none;
    
    @include mq('md'){
        display: block;
        top: 0;
        width: rem(80);
        height: rem(80);
        border: 1px solid $accent-color;
        border-radius: 50%;
        position: relative;
    }
}

.campaign-next:before{
    
    @include mq('md'){
        display: block;
        position: absolute;
        content: "";
        top: calc(50% - 3px);
        right: rem(20);
        width: rem(40);
        height: rem(6);
        border-right: 2px solid $accent-color;
        border-bottom: 1px solid $accent-color;
        transform: skew(45deg);
        transition: .3s;
    }
}

.campaign-next:hover:before{
    right: rem(12);
    width: rem(48);
}

.campaign-prev:before{
    
    @include mq('md'){
        display: block;
        position: absolute;
        content: "";
        top: calc(50% - 3px);
        left: rem(20);
        width: rem(40);
        height: rem(6);
        border-left: 2px solid $accent-color;
        border-bottom: 1px solid $accent-color;
        transform: skew(-45deg);
        transition: .3s;
    }
}

.campaign-prev:hover:before{
    left: rem(12);
    width: rem(48);
}

.campaign__button{
    margin-top: rem(34);
    text-align: center;

    @include mq('md'){
        margin-top: rem(72);
    }
}

//swiper
.campaign{

    .swiper-button-next,
    .swiper-button-prev{
        margin-top: 0;
    }
    
    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: none;
      }
    
    }

