@use 'global' as *;

.contact-thanks__inner.inner{
    max-width: calc(rem(600) + rem(15) * 2);
    width: 100%;
    margin:auto;
    padding: 0 rem(15);

    @include mq('md'){
        max-width: calc(rem(700) + rem(25)*2);
        margin:auto;
        padding: 0 rem(25);
    }
}
.contact-thanks__title{
    color: $font-color;
    text-align: center;
    font-size: rem(16);
    font-weight: $normal;
}

.contact-thanks__text{
    color: $font-color;
    text-align: center;
    font-size: rem(16);
    margin-top: rem(36);
    line-height: 1.45;
}