@use 'global' as *;

.contact-form__item{
    display: flex;
    flex-direction: column;
    padding-bottom: rem(24);
    border-bottom: 1px dotted $accent-color ;

    @include mq('md'){
        flex-direction: row;
        padding-bottom: rem(37);
    }
}

.contact-form__item:not(:first-child) {
    margin-top: rem(24);

    @include mq('md'){
        margin-top: rem(40);
    }
}

.contact-form__checkbox{
    display: flex;
    flex-direction: column;
    gap: rem(4);

    @include mq('md'){
    }
}

.contact-form__item dt{
    font-size: rem(16);
    font-weight: 700;
    color: $font-color;

    @include mq('md'){
        font-size: rem(16);
        width: rem(220);
        text-align: left;
    }

}

.contact-form__item dt span{
    color: #fff;
    background: #C94800;
    font-size: rem(12);
    margin-left: rem(8);
    padding:  rem(1) rem(8) rem(1) rem(16);
    display: inline-block;
    line-height: 1.5;
    letter-spacing: 0.48em;
    vertical-align: top;

    @include mq('md'){
    }
}

.contact-form__item dd{
        margin-top: rem(12);
        color: $font-color;

    @include mq('md'){
        margin-top: 0;
        flex: 1;
    }
}

.contact-form__item dd:first-child{
    margin-top: 0;
}

.contact-form__btn{
    text-align: center;
    margin-top: rem(24);

    @include mq('md'){
        margin-top: rem(40);
    }

}

.contact-form__privacy{
    margin-top: rem(40);
    font-size: rem(14);
    text-align: center;
    padding: 0 rem(32);
    letter-spacing: normal;
    
    @include mq('md'){
        margin-top: rem(73);
        text-align: center;
    }
}

.contact-form__privacy [type="checkbox"]{

    + span {
        padding-left: rem(38);
        letter-spacing: normal;
        font-size: rem(14);



        //チェックボックス外側
		&::before {
			width: 22px;
			height: 22px;
            top: rem(1);
		}

	}

}

.contact-form__privacy [type=checkbox]:checked{

    + span{
        &::after{
            width: 12px;
            height: 6px;
            top: 7px;
            left: 3px;
        }
    }
}
