@use 'global' as *;

.drawer{
    position: absolute;
    top: rem(79);
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $accent-color;
    width: 100%;
    height: 100vh;
    transform: translateX(101%);
    transition: transform 0.3s linear;
    z-index: 40;
    overflow: scroll;

    @include mq('md'){
        display: none;
    }
}

.drawer__inner{
    max-width: calc(rem(600) + rem(15)*2);
    width: 100%;
    margin: auto;
}

.drawer.is-active{
    transform: translateX(0);
}

.drawer__nav{
    display: flex;
    padding: rem(24) 0 rem(120);
    justify-content: space-evenly;
    gap: rem(7);
}

.drawer__nav-left,
.drawer__nav-right{
    width: 50%;
}

.drawer__nav-left .drawer__nav-items,
.drawer__nav-right .drawer__nav-items{
    margin-top: calc(rem(40) - rem(12));
}

.drawer__nav-left .drawer__nav-items:first-child,
.drawer__nav-right .drawer__nav-items:first-child{
    margin-top: 0;
}

.drawer__nav-item a{
    display: block;
    color: $white;
    font-weight: $normal;
    font-size: rem(16);
    line-height: 18px;
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(22);
}

.drawer__nav-item--bold a{
    font-weight: $bold;
    padding-top: 0;
    position: relative;
}

.drawer__nav-item--bold a::before{
    content: "";
    width: rem(18);
    height: rem(18);
    background: url(../images/common/icon_starfish.png) no-repeat center center / contain;
    position: absolute;
    top: 0;
    left: 0;
}


