@use 'global' as *;

.information-tabs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(19);

    @include mq('md'){
        gap: rem(90);
    }
}

.information-tabs__tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $sub-color;
    padding: rem(10) 0;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all  0.3s ease;

    @include mq('md'){
        padding: rem(13) 0;
    }
}

.information-tabs__tab-icon1,
.information-tabs__tab-icon2,
.information-tabs__tab-icon3{
    display: none;

    @include mq('md'){
        display: block;
        width: rem(64);
        height: rem(64);
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: $accent-color;
    }
}

.information-tabs__tab-icon1{
    @include mq('md'){
        mask-image: url(../images/common/icon-whale_white.svg);
    }
}

.information-tabs__tab-icon2{
    @include mq('md'){
        mask-image: url(../images/common/icon-whale.svg);
    }
}

.information-tabs__tab-icon3{
    @include mq('md'){
        mask-image: url(../images/common/icon-fish.svg);
    }
}

.information-tabs__tab span{
    color: $accent-color;
    font-size: rem(14);
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: rem(8);

    @include mq('lg'){
        font-size: rem(24);
    }
}

// ホバースタイル
.information-tabs__tab:hover{
    background-color: $accent-color;

    span{
        color: $white;
    }

    .information-tabs__tab-icon1,
    .information-tabs__tab-icon2,
    .information-tabs__tab-icon3{
        background-color: $white;
    }

}

//ボタンがアクティブになった時のスタイル
.information-tabs__tab.is-active{
    background-color: $accent-color;

    span{
        color: $white;
    }

    .information-tabs__tab-icon1,
    .information-tabs__tab-icon2,
    .information-tabs__tab-icon3{
        background-color: $white;
    }
}
