@use 'global' as *;

.lower-inner{
    position: relative;
}

.lower-inner::before{
    content: "";
    display: block;
    width: rem(120);
    height: rem(55);
    position: absolute;
    top: rem(-25);
    left: calc(50% - 46vw);
    background: url(../images/common/accent_fish2.svg) no-repeat center center / contain;
    z-index: -1;

    @include mq('md'){
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(46vw, rem(621)));
    }
}

.lower-inner.lower-information__inner:before{
    content: "";
    display: block;
    width: rem(120);
    height: rem(55);
    position: absolute;
    top: rem(-91);
    left: calc(50% - 46vw);
    background: url(../images/common/accent_fish2.svg) no-repeat center center / contain;
    z-index: -1;

    @include mq('md'){
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(48vw, rem(621)));
    }
}