@use 'global' as *;

.lower-contact__inner.inner{
    max-width: calc(rem(600) + rem(15) * 2);
    width: 100%;
    margin:auto;
    padding: 0 rem(15);

    @include mq('md'){
        max-width: calc(rem(700) + rem(25)*2);
        margin:auto;
        padding: 0 rem(25);
    }
}

.lower-contact__error-message{
    display: none;
    color: #C94800;
    font-size: rem(14);
    text-align: center;
}

.lower-contact__error-message.is-error{
    display: block;
}
