@use 'global' as *;

.mv{
    position: relative;
    z-index: 1;
    height: 100vh;
    min-height: rem(667);

    @include mq('md'){
        min-height: rem(768);
    }
}

.mv__inner{
    height: inherit;
    min-height: inherit;
}

.mv__title{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @include mq('md'){

    }
}

.mv__swiper,
.mv__image,
.mv__image img{
    height: 100vh;
    min-height: rem(667);

    @include mq('md'){
        min-height: rem(768);
    }
}

.mv__image img{
    width: 100%;
    object-fit: cover;
}

