@use 'global' as *;

.sitemap__inner.inner{
    max-width: calc(rem(600) + rem(15)*2);
    width: 100%;
    margin: auto;
    padding: 0 rem(15);

    @include mq('md'){
        max-width: calc(rem(1080) + rem(25)*2);
        width: 100%;
        margin: auto;
        padding: 0 rem(25);
    }
}