@use 'global' as *;

.voice-item{
    background-color: $white;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(16) rem(16) rem(24) rem(16);

    @include mq('md'){
        padding: rem(24) rem(24) rem(24) rem(24);
    }
}

.voice-item__head{
    display: flex;
    gap: rem(13);
    align-items: flex-end;

    @include mq('md'){
        gap: rem(16);
    }
}

.voice-item__content{
    width: calc(100% - rem(151));

    @include mq('md'){
    width: calc(100% - rem(180));
    }
}

.voice-item__meta{
    

    @include mq('md'){
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}



.voice-item__age{
    color: $font-color;
    font-size: rem(12);
    line-height: 18px;
}

.voice-item__age.voice-item__age--lower{
    line-height: 1;
}

.voice-item__tag{
    color: $accent-color;
    font-size: rem(12);
    line-height: 22px;
    display: inline-block;
    padding: rem(3) rem(11);
    border: 1px solid $accent-color;

    @include mq('md'){
        padding: rem(5) rem(15);
    }
}

.voice-item__tag.voice-item__tag--lower{
    margin-top: rem(4);
}

.voice-item__title{
    color: $font-color;
    font-size: rem(16);
    font-weight: 500;
    padding-bottom: rem(4);
    border-bottom: 1px solid $accent-color;
    margin-top: rem(2);

    @include mq('md'){
        font-size: rem(24);
        padding-bottom: 0;
        margin-top: rem(8);
    }
}

.voice-item__title.voice-item__title--lower{
    padding-bottom: rem(2);
}

.voice-item__image{
    position: relative;
    max-width: rem(151);

    @include mq('md'){
        max-width: rem(180);
    }
}

.voice-item__image::before{
    content: "";
    display: block;
    padding-top: 77.483%;

    @include mq('md'){
    padding-top: 77.777%;
    }
}

.voice-item__image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.voice-item__body{
    margin-top: rem(15);

    @include mq('md'){
        margin-top: rem(40);
    }
}

.voice-item__text{
    color: $font-color;
    font-size: rem(16);
    line-height: 24px;
}
